:root {
  --primaryColor: black;
  --secondaryColor: white;
  --hoverColor: #9999ff;
  --btncolor: #0000ff;
}

.flex-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem; /* Adds space between the grid items */
}

.project-header {
  color: var(--secondaryColor);
  font-size: 6rem;
  font-weight: 500;
  text-align: center;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  background-color: rgba(17, 25, 40, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 1rem;
}

.project-image img {
  width: 100%;
  object-fit: fill;
  border-radius: 1rem 1rem 0px 0px;
}

.project-info {
  padding: 2rem;
}

.project-info > h2 {
  font-size: 3rem;
}

.project-info > p {
  font-size: 2rem;
  font-weight: 200;
}

.links {
  margin-top: 1.4rem;
}

.links a {
  text-decoration: none;
  color: var(--secondaryColor);
  margin-right: 1rem;
  background-color: var(--btncolor);
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.4rem;
}

.links a:hover {
  background-color: var(--hoverColor);
  transition: ease-in-out 1s;
  cursor: pointer;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
}

.tech-stack p {
  border: 1px solid var(--secondaryColor);
  margin: 4px;
  padding: 0.6rem;
  border-radius: 4px;
  font-size: 1.4rem;
}

/* For tablets and smaller screens */
@media (max-width: 1024px) {
  .project-header {
    font-size: 4rem;
  }

  .project-info > h2 {
    font-size: 2.5rem;
  }

  .project-info > p {
    font-size: 1.8rem;
  }

  .links a {
    font-size: 1.2rem;
    padding: 0.8rem;
  }

  .tech-stack p {
    font-size: 1.2rem;
    padding: 0.5rem;
  }
}

/* For mobile phones and smaller screens */
@media (max-width: 768px) {
  .project-header {
    font-size: 3rem;
  }

  .project-info > h2 {
    font-size: 2rem;
  }

  .project-info > p {
    font-size: 1.6rem;
  }

  .links a {
    font-size: 1rem;
    padding: 0.6rem;
  }

  .tech-stack p {
    font-size: 1rem;
    padding: 0.4rem;
  }
}
