:root {
  --primaryColor: black; /*black*/
  --secondaryColor: white; /*white */
  --hoverColor: #9999ff;
  --btncolor: #0000ff;
}
.contact-section > header {
  font-size: 6rem;
  font-weight: 500;
  text-align: center;
}
.contact-container {
  display: flex;
  width: 100%;
  margin-top: 5rem;
}
.contact-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: flex-start;
  padding-left: 4rem;
}
.connect-me {
  display: flex;
  gap: 1rem;
  margin-top: 6rem;
}
.connect-me > a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  display: flex;
}
.connect-me > a > span {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 1rem;
}
.connect-me > a > span > img {
  width: 3rem;
}
.my-info p {
  font-size: 2rem;
}
.my-info a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  border-bottom: 1px solid white;
}
form {
  display: flex;
  width: 50%;
  padding: 4rem;
  flex-direction: column;
  font-size: 2rem;
  background-color: #272727c5;
  border-radius: 1rem;
}

form > input,
textarea {
  font-family: inherit;
  border: none;
  padding: 0.8rem;
  outline: none;
  border-radius: 1rem;
  background-color: #121212c5;
  color: white;
  font-size: 1.5rem;
}

form > button {
  border: none;
  color: var(--secondaryColor);
  font-size: 1.5rem;
  text-decoration: none;
  padding: 1rem 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  background-color: var(--btncolor);
}
form > button:hover{
    background-color: #3838ce;
    transition: ease-in-out 1s;
    cursor: pointer;
}