:root {
  --primaryColor: black; /*black*/
  --secondaryColor: white; /*white */
  --hoverColor: #9999ff;
  --btncolor: #0000ff;
}
.header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: fixed;
  width: 100%;
  background-color: var(--primaryColor);
}
.logo {
  font-size: 3.6rem;
  font-weight: 600;
  text-decoration: none;
}
#parthiv {
  color: var(--secondaryColor);
}
#parmar {
  color: darkgray;
}
.main-nav-links {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}
.main-nav-links:link,
.main-nav-links:visited {
  text-decoration: none;
  font-size: 2rem;
  color: var(--secondaryColor);
  font-weight: 400;
  transition: all 0.3s;
}
.main-nav-links:hover,
.main-nav-links:active {
  color: var(--hoverColor);
}
