.nav-position {
  display: flex;
  justify-content: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #787878;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
