@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  font-family: 'DM Sans', sans-serif;
  position: relative;
}

:root {
  --primaryColor: black; /*black*/
  --secondaryColor: white; /*white */
  --hoverColor: #9999ff;
  --btncolor: #0000ff;
}
