:root {
  --primaryColor: black; /*black*/
  --secondaryColor: white; /*white */
  --hoverColor: #9999ff;
  --btncolor: #0000ff;
}

.main-intro {
  display: grid;
  position: relative;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  z-index: -1;
  margin-top: 8.4rem;
}

.main-info {
  margin-left: 5rem;
}

.main-heading {
  font-size: 4.2rem;
  font-weight: 900;
  background-color: #4158d0;
  background: linear-gradient(43deg, #6b6bb7 0%, white 46%, #0000ff 100%);;
  /* background-clip: border-box; */
  background-size: 200% auto;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animatedTextGradient 1.5s linear reverse;
}
.btn-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.main-desc {
  font-size: 1.8rem;
  font-weight: 400;
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  background-color: var(--btncolor);
  color: var(--secondaryColor);
  font-size: 2rem;
  text-decoration: none;
  padding: 1rem 2.4rem;
  border-radius: 1rem;
}

.active:link,
.active:visited {
  background-color: var(--btncolor);
}
.outline:link,
.outline:visited {
  background-color: var(--secondaryColor);
  color: var(--btncolor);
}

video {
  width: 100%;
}

/* hover effects */
button:hover {
  cursor: pointer;
  background-color: #000080;
}
.outline:hover,
.outline:active {
  background-color: var(--hoverColor);
}

/* media queries */
@keyframes animatedTextGradient {
  to {
    background-position: 200% center;
  }
}